


*{
  margin: 0;
  padding: 0;
}


@media screen and (min-width: 1001px){

  .menu{
    display:flex;
  }

  .Mheader{
    display: none;

  }

  nav{
    display: none;
  }



  /* 選單 */

  .HeaderMenu>a{
    color: rgb(255, 255, 255);
    transition: 1s;
  }

  .HeaderMenu>a:hover{
    color: rgb(46, 46, 46);

  }



  .SingIn>a{
    color: white;
    transition: 1s;
  }

  .SingIn>a:hover{
    color: rgb(46, 46, 46);

  }








  /* type 房型 */


  .type{
    width: 80%;

  }

  .one{
    margin: 2px;
    margin-bottom: 2px;
    margin-top: 1vh;
    margin-right: 10px;
    overflow:hidden;
    
  }

  .one>img{
    width: 60vh;
    transition: all 1s;
  }
  .one:hover img{
    transform:scale(1.1,1.1);
    filter:alpha(Opacity=70);
    -moz-opacity:0.7;
    opacity: 0.7;
    
  }

  .one>p{
    width: 60vh;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 18pt;
    background-color: rgba(0,0,0,0.7);
    color: white;
    transition: all 1s;

  }


  .one:hover p{
    background-color: rgb(207, 184, 124);
    color: rgb(0, 0, 0);
  }

  .one_Hover{
    font-size: 32px;
    width: 35vh;
    position: absolute;
    text-align: center;
    top:25%;
    left: 20%;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    transition: all 1s;
  }

  .one:hover .one_Hover{
    background-color: rgb(255, 255, 255,0.5);
    color: rgb(0, 0, 0);
    
    
  }




  .two{
    margin: 2px;
    margin-bottom: 2px;
    margin-top: 1vh;
    margin-right: 10px;
    overflow:hidden;
  }
  .two>img{
    width: 60vh;
    transition: all 1s;
  }

  .two:hover img{
    transform:scale(1.1,1.1);
    filter:alpha(Opacity=70);
    -moz-opacity:0.7;
    opacity: 0.7;
    
  }

  .two>p{
    width: 60vh;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 18pt;
    background-color: rgba(0,0,0,0.7);
    color: white;
    transition: all 1s;

  }


  .two:hover p{
    background-color: rgb(207, 184, 124);
    color: rgb(0, 0, 0);
  }




  .two>p{
    width: 60vh;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 18pt;
  }



  .two_Hover{
    font-size: 32px;
    width: 40vh;
    position: absolute;
    text-align: center;
    top:20%;
    left: 18%;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    transition: all 1s;
  }

  .two:hover .two_Hover{
    background-color: rgb(255, 255, 255,0.5);
    color: rgb(0, 0, 0);
    
  }




  .three{
    margin: 2px;
    margin-bottom: 2px;
    margin-top: 1vh;
    margin-right: 10px;
    overflow:hidden;
  }
  .three>img{
    width: 60vh;
    transition: all 1s;
  }

  .three:hover img{
    transform:scale(1.1,1.1);
    filter:alpha(Opacity=70);
    -moz-opacity:0.7;
    opacity: 0.7;
    
  }

  .three>p{
    width: 60vh;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 18pt;
    background-color: rgba(0,0,0,0.7);
    color: white;
    transition: all 1s;

  }


  .three:hover p{
    background-color: rgb(207, 184, 124);
    color: rgb(0, 0, 0);
  }




  .three>p{
    width: 60vh;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 18pt;
  }



  .three_Hover{
    font-size: 32px;
    width: 40vh;
    position: absolute;
    text-align: center;
    top:30%;
    left: 18%;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    transition: all 1s;
  }

  .three:hover .three_Hover{
    background-color: rgb(255, 255, 255,0.5);
    color: rgb(0, 0, 0);
    
  }


  .four{
    margin: 2px;
    margin-bottom: 2px;
    margin-top: 1vh;
    margin-right: 10px;
    overflow:hidden;
  }
  .four>img{
    width: 60vh;
    transition: all 1s;
  }

  .four:hover img{
    transform:scale(1.1,1.1);
    filter:alpha(Opacity=70);
    -moz-opacity:0.7;
    opacity: 0.7;
    
  }

  .four>p{
    width: 60vh;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 18pt;
    background-color: rgba(0,0,0,0.7);
    color: white;
    transition: all 1s;

  }


  .four:hover p{
    background-color: rgb(207, 184, 124);
    color: rgb(0, 0, 0);
  }




  .four>p{
    width: 60vh;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 18pt;
  }



  .four_Hover{
    font-size: 32px;
    width: 40vh;
    position: absolute;
    text-align: center;
    top:30%;
    left: 18%;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    transition: all 1s;
  }

  .four:hover .four_Hover{
    background-color: rgb(255, 255, 255,0.5);
    color: rgb(0, 0, 0);
    
  }


/* index logo */

.index_Logo{
  display: block;
  width: 10vw;
  margin: 0 auto;
  padding-top: 10vw;

}




/* index_90th logo */


.anniversary{

  display: block;
  margin: 0 auto;
  margin-top: 5%;
  width: 20%;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.185);
  animation: th 3s ease-in-out infinite;
  
}



@keyframes th {
  0%{transform: scale(1);}
  50%{transform: scale(1.05);}
  100%{transform: scale(1);}
}




/* index_information資訊 */



/* index_information資訊1 */

    .Inf_One{
      display: flex;
      margin: 0 auto;
      margin-top: 8vh;
      width:55vw;
      margin-bottom: 8vh;

      
    }

    .Inf_One_Text{
      display: flex;
      flex-direction: column;
      width: 70%;
      padding-right: 60px;
      justify-content: center;
      

    }

    .Inf_One_Text>a>h1{
      color:black;
      transition: all 1s;
    }

    .Inf_One_Text>h4{
      margin-top: 10px;
    
    }


    .Inf_One_Img{
      display: block;
      width: 80%;
      overflow: hidden;
     

    }

    .Inf_One_Img>a>img{
      max-width: 100%;
      transition: all 1s;
      
      
    }


    .Inf_One:hover .Inf_One_Img>a>img{
      transform:scale(1.1,1.1);

      
    }

    .Inf_One:hover .Inf_One_Text>a>h1{
        /* background-color: rgb(63, 63, 63); */
        color:rgb(207, 184, 124);
    }






    /* index_information資訊2*/

    .Inf_Two{
      display: flex;
      margin: 0 auto;
      margin-top: 5vh;
      width:55vw;
      margin-bottom: 10vh;
    }

    .Inf_Two_Img{
      display: block;
      width: 80%;
      overflow: hidden;
    }

    .Inf_Two_Img>a>img{
      max-width: 100%;
      transition: all 1s;
    }


    .Inf_Two_Text{
      display: flex;
      flex-direction: column;
      width: 70%;
      padding-left: 60px;
      justify-content: center;

    }

    .Inf_Two_Text>a>h1{
      color:black;
      transition: all 1s;
    }


    .Inf_Two:hover .Inf_Two_Img>a>img{
      transform:scale(1.1,1.1);

      
    }

    .Inf_Two:hover .Inf_Two_Text>a>h1{
        /* background-color: rgb(63, 63, 63); */
        color:rgb(207, 184, 124);
    }




      /* index_灰底文字 */


      .GrayText{
        height: 500px;
        margin-top: 100px;
      }

      .GrayText>h1{
        font-size: 6.5vh;
        width:50vw;
      }

      .GrayText>p{
        font-size: 18px;
        width:50vw;
      }

      .GrayText_Border{
        width: 50vw;
      }


      .Learn{
      transition: all 1s;
    }

      .Learn{
        border: 1px solid white;
        border-radius: 5px;
        color: white;
  

      }
      .Learn:hover{
        background-color:rgb(207, 184, 124) ;
        border-color: rgb(207, 184, 124) ;
        color: black;
        transition: all 1s;

      }

       /* services 圖1 */
   .services_img{
    
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    position:relative;

    }
  .services_img>img{
  display: block;
  width: 40%;
  padding-right: 50%;
  z-index: 1;

    }

    .services_p{
      display: flex;
      background-color: rgb(218, 241, 255);
      width: 60%;
      height: 120%;
      position: absolute;
      bottom: -55px;
      right: 120px;
      

    }

    .services_p>ul{
      padding-left: 230px;
      align-self: center;
    }

       /* services 圖2 */
       .sit{
        display: flex;
        width: 70%;
        justify-content: center;
        margin: 0 auto;
        margin-top: 200px;
        position:relative

       }

       .sit>img{
        display: block;
        width: 40%;
        padding-left: 40%;
        z-index: 1;

       }

       .sit_p{
        display: flex;
        background-color: rgb(255, 237, 222);
        width: 40%;
        height: 80%;
        position: absolute;
        left: 110px;
        top: 60px;
       }

       .sit_p>ul{
        align-self: center;
        padding-left: 80px;
       }
      




         /* About_us  */
       .au{
       display: flex;
       background-color: rgb(211, 211, 211);
       width: 100%;
       height: 50vh;
       margin-top: 10vh;}

       .au>ul{
        display: flex;
        list-style: none;
        margin: 0 auto;

       }

       .auio{
        padding-right: 10vh;
        padding-top: 5vh;
        height: 80%;
        position: relative;
       }

       .auiop{
        font-size: 3vh;
        display: block;
        width: 55%;
        color: white;
        text-align: center;
        position: absolute;
        top: 45%;
        left: 12%;

       }
       

       .auit{
        padding-top: 5vh;
        height: 80%;
       }

       .aupt{
        font-size: 3vh;
        display: block;
        width: 60%;
        color: white;
        text-align: center;
        position: absolute;
         top: 40%;
         left: 20%;

       }
        /* sport */

        /* sport1 */
        .sportOne{
          list-style: none;
          display: flex;
          justify-content: center;
         }
  
         .sportOneP{
          background-color:rgb(199, 199, 199);
          width: 400px;
          height:400px;
          display: flex;
          flex-direction: column;
          justify-content: center;
  
         }
  
         .sportOne>li>img{
           height: 400px;
           display: block;
  
         }
  
            /* sport2 */
            .sportTwo{
              list-style: none;
              display: flex;
              justify-content: center;
  
            }
  
            .sportTwoP{
            background-color:rgb(199, 199, 199);
            width: 400px;
            height:400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
  
          .sportTwo>li>img{
            height: 400px;
           display: block;
          }
  
  
            /* sport3 */
  
            .sportThree{
              list-style: none;
              display: flex;
              justify-content: center;
  
            }
  
            .sportThreeP{
            background-color:rgb(199, 199, 199);
            width: 400px;
            height:400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
  
          .sportThree>li>img{
            height: 400px;
           display: block;
          }
  
          
  
  
             /* sport4 */
  
             .sportFour{
              list-style: none;
              display: flex;
              justify-content: center;
  
            }
  
            .sportFourP{
            background-color:rgb(199, 199, 199);
            width: 400px;
            height:400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
  
          .sportFour>li>img{
            height: 400px;
           display: block;
          }
  
  }



  /* ----product---- */



  .product_Bg{
    background-image: url(./photo/product_bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
    height: 100vh;
  }

  .product_Bg_Text>img{
    display: none;
  }

  .product_Bg_Text{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }

  .product_Bg_Text .left{
    color: white;
    padding-left: 50px;
    padding-top: 70vh;

  }


  .product_Bg_Text .left>input{
  display: block;
  width:220px;
  padding: 10px 20px;
  margin-top: 20px;
  font-weight: bold;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border:1px solid white;
}

.product_Bg_Text .left>input:hover{
  background-color:rgb(207, 184, 124) ;
  border-color: rgb(207, 184, 124) ;
  color: rgb(255, 255, 255);
  transition: all 1s;

}

  

  .product_Bg_Text .right{
    width: 280px;
    color: white;
    padding-right: 30px;
    padding-top: 80vh;
    
  }


  .product_Bg_Text .right>p{
    line-height: 1.5rem;
    
  }
  
  .product_blank{
    margin: 50px 0;
  }

  .product_one{
    display: flex;
    width: 90vw;   
    margin-bottom: 3vw;   
  }


  .product_one>img{
    max-width: 50%;
  }

  .product_one_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 40%;
    padding-left: 10%;
  }

  .product_one_blank{
    width: 10%;
  }


  .product_two{
    background-image:url(./photo/product_two.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }


  .product_two>img{
    display: none;
  }

.product_two>h1{
  color:white;
}

.product_two>p{
  max-width: 35%;
  padding-left: 5vw;
  color:white;

}

.product_three{
  display: flex;
  margin-bottom: 3vw;   
  padding: 80px;

}

.product_three>img{
  max-width: 60%;

}

.product_three_text{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 40%;
  padding-left: 5vw;
}







  .Read_Me{
    transition: all 1s;
  }

    .Read_Me{
      border: 1px solid rgb(63, 63, 63);
      border-radius: 5px;
      color: rgb(63, 63, 63);


    }
    .Read_Me:hover{
      background-color:rgb(207, 184, 124) ;
      border-color: rgb(207, 184, 124) ;
      color: rgb(255, 255, 255);
      transition: all 1s;

    }







@media screen and (max-width: 1000px){




 .menu{
    display: none;

  }



.Mheader{
  
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color:rgb(207, 184, 124) ;
  box-shadow:0 1px 10px rgb(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1;
 

}


 
body{
  overflow-x :  hidden;
}


 #menuToggle
 {
   display: block;
   position: relative;
   top: 25px;
   /* left: 50px; */
   padding-left: 35px;
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #ffffff;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: rgb(63, 63, 63);
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   /* left: -5px; */
   padding-left: 45px;
   cursor: pointer;
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: #ffffff;
   border-radius: 3px;
   z-index: 1;
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: rgb(255, 255, 255);
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
  #menu
  {
    position: absolute;
    width: 100vw;
    height: 200px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    /* background: #ededed; */
    background-color: rgb(207, 184, 124);
    box-shadow:0 1px 10px rgb(0, 0, 0, 0.6);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;



    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }




/* ------------------------------------------------------------------------------------------- */


/* index logo */

.index_Logo{
  display: block;
  width: 20vw;
  margin: 0 auto;
  padding-top: 5vw;
  margin-bottom: -5w;

}



/* index_90th logo */

.anniversary{
  display: block;
  width: 25vw;
  margin: 0 auto;
  margin-top: 2vw;
 box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.185); 

}



/* index_information資訊 */



/* index_information資訊1 */

.Inf_One{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  

}

.Inf_One_Text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  
}

.Inf_One_Text{
  margin-top: 20px;
  width: 90%;

}

.Inf_One_Text>a>h1{
  color: black;
  text-align: center; 
  transition: all 1s;
}


.Inf_One_Text>h4{
 width: 90%;
 margin: 0 auto;
 text-align: center; 
}

.Inf_One_Img{
  display: block;
  width: 95%;
  overflow: hidden;
  
}

.Inf_One_Img>a>img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  transition: all 1s;
}

.Inf_One:hover .Inf_One_Img>a>img{
  transform:scale(1.1,1.1);

  
}

.Inf_One:hover .Inf_One_Text>a>h1{
    color:rgb(207, 184, 124);
}



/* index_information資訊2 */

.Inf_Two{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}


.Inf_Two_Text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  
}

.Inf_Two_Text{
  margin-top: 20px;
  width: 90%;

}

.Inf_Two_Text>a>h1{
  color: black;
  text-align: center; 
  transition: all 1s;
}


.Inf_Two_Text>h4{
 width: 90%;
 margin: 0 auto;
 text-align: center; 
}

.Inf_Two_Img{
  display: block;
  width: 95%;
  overflow: hidden;
  
}

.Inf_Two_Img>a>img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  transition: all 1s;
}

.Inf_Two:hover .Inf_Two_Img>a>img{
  transform:scale(1.1,1.1);

  
}

.Inf_Two:hover .Inf_Two_Text>a>h1{
    color:rgb(207, 184, 124);
}


  /* index_灰底文字 */


  .GrayText{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    margin-top: 30px;
    
  }

  .GrayText>h1{
    font-size: 6vh;
    width:80vw;
  }

  .GrayText>p{
    font-size: 16px;
    width:80vw;
  }

  .GrayText_Border{
    width: 80vw;
   
  }



  .Learn{
  transition: all 1s;
}

  .Learn{
    border: 1px solid white;
    border-radius: 5px;
    color: white;


  }
  .Learn:hover{
    background-color:rgb(207, 184, 124) ;
    border-color: rgb(207, 184, 124) ;
    color: black;
    transition: all 1s;

  }






 /* services 圖1 */

  .services_img{
    display: flex;
    flex-direction: column;
  } 

  .services_img>img{
    
    width: 80%;
    margin: 0 auto;
    
  }

  .services_p{
    display: flex;
    background-color: rgb(218, 241, 255);
    width: 75%;
    height: 120%;
    margin: 0 auto;
    margin-top: 2vh;
    padding: 5vh;
  }

  .services_p>ul>h1{
    margin: 0 auto;
    text-align: center;
  }

  .services_p>ul>p{
    margin: 0 auto;
    text-align: center;
    font-size: 3vh;
  }


  /* services 圖2 */



  .sit{
    display: flex;
    flex-direction: column;
    margin-top: 6vh;
  } 

  .sit>img{
    
    width: 80%;
    margin: 0 auto;
    
  }

  .sit_p{
    display: flex;
    background-color: rgb(255, 237, 222);
    width: 75%;
    height: 120%;
    margin: 0 auto;
    margin-top: 2vh;
    padding: 5vh;
  }

  .sit_p>ul>h1{
    margin: 0 auto;
    text-align: center;
  }

  .sit_p>ul>p{
    margin: 0 auto;
    text-align: center;
    font-size: 3vh;
  }

  /* About_us  */

  .au{
    display: flex;
    background-color: rgb(211, 211, 211);
    width: 100%;
    height: 100%;
    margin: 10vh;
    margin: 0 auto;
    padding-bottom: 5vh;
  }

  .au>ul{
    list-style:none;
    margin: 0 auto;

  }

  .au li{
    display: flex;
    margin: 0 auto;
  }

  .au img{

    width: 80%;
    margin: 0 auto;
    margin-top: 5vh;

   }

   .auiop{
    font-size: 3vh;
    display: block;
    width: 55%;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 22%;

   }


   .aupt{
    font-size: 3vh;
    display: block;
    width: 60%;
    color: white;
    text-align: center;
    position: absolute;
     top: 45%;
     left: 20%;

   }



  /* type 房型 */


  .one{
    max-width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow:hidden;
    
  }

  .one>img{
    
    max-width: 100%;
    transition: all 1s;
  }
  .one:hover img{
    transform:scale(1.1,1.1);
    filter:alpha(Opacity=70);
    -moz-opacity:0.7;
    opacity: 0.7;
    
  }

  .one>p{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 18pt;
    background-color: rgba(0,0,0,0.7);
    color: white;
    transition: all 1s;

  }


  .one:hover p{
    background-color: rgb(207, 184, 124);
    color: rgb(0, 0, 0);
  }

  .one_Hover{
    font-size: 32px;
    width: 35vh;
    position: absolute;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    transition: all 1s;
  }

  .one:hover .one_Hover{
    background-color: rgb(255, 255, 255,0.5);
    color: rgb(0, 0, 0);
    
  }





  .two{
    max-width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow:hidden;
  }

  .two>img{
    max-width: 100%;
    transition: all 1s;
  }
  .two:hover img{
    transform:scale(1.1,1.1);
    filter:alpha(Opacity=70);
    -moz-opacity:0.7;
    opacity: 0.7;
  }

  .two>p{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 18pt;
    background-color: rgba(0,0,0,0.7);
    color: white;
    transition: all 1s;
  }


  .two:hover p{
    background-color: rgb(207, 184, 124);
    color: rgb(0, 0, 0);
  }

  .two_Hover{
    font-size: 30px;
    width: 35vh;
    position: absolute;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    transition: all 1s;
  }

  .two:hover .two_Hover{
    background-color: rgb(255, 255, 255,0.5);
    color: rgb(0, 0, 0);
  }



  .three{
    max-width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow:hidden;
  }

  .three>img{
    max-width: 100%;
    transition: all 1s;
  }
  .three:hover img{
    transform:scale(1.1,1.1);
    filter:alpha(Opacity=70);
    -moz-opacity:0.7;
    opacity: 0.7;
  }

  .three>p{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 18pt;
    background-color: rgba(0,0,0,0.7);
    color: white;
    transition: all 1s;
  }


  .three:hover p{
    background-color: rgb(207, 184, 124);
    color: rgb(0, 0, 0);
  }

  .three_Hover{
    font-size: 32px;
    width: 35vh;
    position: absolute;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    transition: all 1s;
  }

  .three:hover .three_Hover{
    background-color: rgb(255, 255, 255,0.5);
    color: rgb(0, 0, 0);
  }



  .four{
    max-width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow:hidden;
  }

  .four>img{
    max-width: 100%;
    transition: all 1s;
  }
  .four:hover img{
    transform:scale(1.1,1.1);
    filter:alpha(Opacity=70);
    -moz-opacity:0.7;
    opacity: 0.7;
  }

  .four>p{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 18pt;
    background-color: rgba(0,0,0,0.7);
    color: white;
    transition: all 1s;
  }


  .four:hover p{
    background-color: rgb(207, 184, 124);
    color: rgb(0, 0, 0);
  }

  .four_Hover{
    font-size: 32px;
    width: 35vh;
    position: absolute;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    transition: all 1s;
  }

  .four:hover .four_Hover{
    background-color: rgb(255, 255, 255,0.5);
    color: rgb(0, 0, 0);
  }

    /* sport */

  /* sport1 */
  .sportOne{
    list-style: none;
    position: relative;
    
  }

  .sportOneP{
    position: absolute;
    width: 80%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
  }

  .sportOneP>h2{
    font-size: 55px;

  }

  .sportOne>li>img{

    display: block;
    width: 100%;
    height: auto;

  }


   /* sport2 */

   .sportTwo{
    list-style: none;
    position: relative;
    
  }

  .sportTwoP{
    position: absolute;
    width: 80%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
  }

  .sportTwoP>h2{
    font-size: 55px;

  }

  .sportTwo>li>img{

    display: block;
    width: 100%;
    height: auto;

  }


   /* sport3 */


   .sportThree{
    list-style: none;
    position: relative;
    
  }

  .sportThreeP{
    position: absolute;
    width: 80%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
  }

  .sportThreeP>h2{
    font-size: 55px;

  }

  .sportThree>li>img{

    display: block;
    width: 100%;
    height: auto;

  }

  /* sport4 */


  .sportFour{
    list-style: none;
    position: relative;
    
  }

  .sportFourP{
    position: absolute;
    width: 80%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
  }

  .sportFourP>h2{
    font-size: 55px;

  }

  .sportFour>li>img{

    display: block;
    width: 100%;
    height: auto;

  }


  
  

/* ------------------------------------------------------------------------------ */


  /* ----product---- */



  .product_Bg{
    background: none;
    background-color: #f1f1f1;
    height: 100%;
    
  }


  .product_Bg_Text>img{
    display: block;

  }

  .product_Bg_Text{
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }

  .product_Bg_Text .left{
    color: rgb(63, 63, 63);
    padding-top: 3vh;
    padding: 20px;

  }


  .product_Bg_Text .left>input{
    display: block;
    width:100%;
    padding: 10px 20px;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(63, 63, 63);
    background-color: rgba(255, 255, 255, 0);
    border:1px solid rgb(63, 63, 63);
  }
    
  
  .product_Bg_Text .right{
    
    /* border: 1px solid red; */
    padding-top: 1vh;
    color: rgb(63, 63, 63);
    width: 81%; 
    padding-left: 3vh;
    
  }

  .product_Bg_Text .right>p{
    
    padding-bottom: 8vh;
    font-size: 20px;
    line-height: 2rem; 
  }

  .product_blank{
    margin: 0;
  }


  .product_one{
    display: flex;
    flex-direction: column;
    width: 100vw;   
    margin-bottom: 3vw;   
  }


  .product_one>img{
    max-width: 100%;
  }

  .product_one_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    padding-left: 0;
    padding-top: 20px;
    
  }

  .product_one_text>p{
    padding-bottom: 3vh;

  }


  .product_two{
    background-image: none;
    height: 100%;
    justify-content: flex-start;
    background-color: gray;
  }

  .product_two>img{
    display: block;
  }


  .product_two>h1{
    color: rgb(255, 255, 255);
    max-width: 35%;
    padding-top: 20px;
    padding-left: 5vw;
  }


.product_two>p{
  color: rgb(255, 255, 255);
  max-width: 90%;
  padding-left: 5vw;
  padding-bottom: 5vh;
}

.product_three{
  flex-direction: column;
  padding: 0;
}

.product_three>img{
  max-width: 100%;
}

.product_three_text{ 

  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  margin: 0;
  width: 90%;
  padding-top: 20px;
  
  padding-bottom: 8vh;

}





}


